@model DSU21_2.ViewModels.ArtistViewModel

@section Scripts {

    <script src="~/js/artist-profile.js"></script>
}

<br />
<br />
<br />
<br />
<br />



<main>



    <div class="grid-profile">
        <h1 id="header-grid">Dina utställningar</h1>

        <h2 id="exhibition-title">Utställning</h2>
        <h2>Hantera</h2>



        @for (int i = 0; i < Model.Artist.Collections.Count; i++)
        {
            <div class="exhibition-info">
                <p class="exhibition-title">
                    @Model.Artist.Collections[i].Description
                    <input type="hidden" name="collectionId" value="@Model.Artist.Collections[i].Id" />
                    <i class="fas fa-chevron-right" id="arrow"></i>
                </p>
                <div class="artworks">


                    @if (Model.Artist.Collections[i].Artworks.Count == 0)
                    {
                        <div>
                            <a href="#" class="add-object">
                                <i class="fas fa-plus"></i>
                                Lägg till objekt
                            </a>
                            <form class="object-form" asp-controller="ArtistProfile" asp-action="AddArtwork">
                                <h3>Utställning</h3>
                                <input type="hidden" name="artistId" value="@Model.Artist.Id" />
                                <input type="hidden" name="collectionId" value="@Model.Artist.Collections[i].Id" />
                                <p><label>Titel <input type="text" name="title" required pattern="\S(.*\S)?" /></label></p>
                                <p>
                                    <label>
                                        Beskrivning
                                        <textarea name="description" rows="5" cols="33"></textarea>
                                    </label>
                                </p>
                                <p><label>Bild-url <input type="text" name="url" required pattern="\S(.*\S)?" /></label></p>
                                <p><input type="submit" name="add" value="Lägg till" id="submit-btn" /></p>
                            </form>
                        </div>
                    }

                    else
                    {
                        @for (int j = 0; j < Model.Artist.Collections[i].Artworks.Count; j++)
                        {
                            var artwork = @Model.Artist.Collections[i].Artworks[j];

                            <form class="update-form" asp-controller="ArtistProfile" asp-action="UpdateArtwork">
                                <input type="hidden" name="artistId" value="@Model.Artist.Id" />
                                <input type="hidden" name="artworkId" value="@artwork.Id" />
                                <p>
                                    <label><b>Bild</b></label>
                                    <img src="@artwork.Hyperlink" />
                                </p>
                                <p>
                                    <label><b>Namn</b></label>
                                    <input type="text" name="title" value="@artwork.Name" required pattern="\S(.*\S)?" />
                                </p>
                                <p>
                                    <label><b>Beskrivning</b></label>
                                    <textarea name="description" rows="7" cols="25">@artwork.Description</textarea>
                                </p>
                                <p>
                                    <label><b>Url</b></label>
                                    <input type="text" name="url" value="@artwork.Hyperlink" required pattern="\S(.*\S)?" />
                                </p>
                                <p>
                                    <label><b>Uppdatera</b></label>
                                    <input type="submit" name="update" value="Uppdatera" id="update-submit" />
                                </p>
                                <a href="#" class="removeObject-btn">Ta bort</a>
                            </form>
                            <hr />

                            // Går igenom denna if-sats när index är på sista elementen för att 
                            //få ut "lägg till nytt objekt"-knappen längst nere
                            @if (j == @Model.Artist.Collections[i].Artworks.Count-1)
                            {
                                <div>
                                    <a href="#" class="add-object">
                                        <i class="fas fa-plus"></i>
                                        Lägg till objekt
                                    </a>
                                    <form class="object-form" asp-controller="ArtistProfile" asp-action="AddArtwork">
                                        <h3>Utställning</h3>
                                        <input type="hidden" name="artistId" value="@Model.Artist.Id" />
                                        <input type="hidden" name="collectionId" value="@Model.Artist.Collections[i].Id" />
                                        <p><label>Titel <input type="text" name="title" required pattern="\S(.*\S)?" /></label></p>
                                        <p>

                                            <label>
                                                Beskrivning
                                                <textarea name="description" rows="5" cols="33"></textarea>
                                            </label>
                                        </p>
                                        <p><label>Bild-url <input type="text" name="url" required pattern="\S(.*\S)?" /></label></p>
                                        <p><input type="submit" name="add" value="Lägg till" id="submit-btn" /></p>
                                    </form>
                                </div>
                            }

                        }
                    }



                </div>
            </div>

            <div class="actions-btns">
                <a class="edit-btn">Hantera</a>
                <a class="delete-btn">Ta bort</a>
            </div>}

        @*Knapp och formulär för att lägga in mer data*@
        @*POST ELLER GET?*@
        <div>
            <a class="add-exhibition">
                <i class="fas fa-plus"></i>
                Lägg till ny utställning
            </a>
            <form class="exhibition-form" asp-controller="ArtistProfile" asp-action="AddCollection">
                <input type="hidden" name="id" value="@Model.Artist.Id" />
                <h3>Utställning</h3>
                <p><label>Titel <input type="text" name="title" required pattern="\S(.*\S)?" /></label></p>
                <p>
                    <label>
                        Beskrivning
                        <textarea name="description" rows="5" cols="33"></textarea>
                    </label>
                </p>
                <p><input type="submit" name="add" value="Lägg till" id="submit-btn" /></p>


            </form>
        </div>

    </div>

    <div>
        Lägg till info för profilen (about i databasen)
    </div>

    <div>

        Lägg till bekräftelse vid knapptryck på "Delete-knappen"
    </div>





</main>







