@model DSU21_2.ViewModels.HomeViewModel

<main>
    <div class="grid-container">
        <h1>Mest besökta</h1>

        @*Hårdkodad till fyra just nu för att fylla grid som består av fyra kolumner
        Behöver förstora griden för att elementen ska få plats horistontellt och
        sätta någon sorts begränsning på hur många element vi kan ladda in?*@
        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="@Model.CurrentCollections[i].Artworks.FirstOrDefault().Hyperlink" alt="@Model.CurrentCollections[i].Artworks.FirstOrDefault().Name" />
                <div class="art-overlay">
                    <a href="/Exhibitions/@Model.CurrentCollections[i].Id" alt="utställning">
                        @Model.CurrentCollections[i].Name
                    </a>
                </div>
            </div>
        }
        <h1>Kategorier</h1>

        <a href="Categories" alt="categories" class="all-categories">
            Visa alla kategorier
        </a>

        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="@Model.Categories[i].Collections[0].Artworks[0].Hyperlink" alt="@Model.Categories[i].Collections[0].Artworks[0].Hyperlink">
                <div class="category-overlay">
                    <a href="/Categories/@Model.Categories[i].Title" alt="kategori">
                        @Model.Categories[i].Title
                    </a>

                </div>
            </div>
        }

        <h1>Kommande utställningar</h1>
        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="@Model.IncomingCollections[i].Artworks.FirstOrDefault().Hyperlink" alt="@Model.IncomingCollections[i].Artworks.FirstOrDefault().Name">
                <div class="art-overlay">
                    <a href="/Exhibitions/@Model.IncomingCollections[i].Id" alt="utställning">
                        @Model.IncomingCollections[i].Name
                    </a>
                </div>
            </div>
        }

    </div>
</main>


