@model DSU21_2.ViewModels.HomeViewModel

<main>
    <iframe id="3d-room-start" src="@Url.Action("Room3d")" style="height:85vh;width:100%;"></iframe>
    @*<div class="flex-container">
            <iframe id="3d-room-start" src="@Url.Action("Room3d")" style="height:85vh;width:100%;"></iframe>
        </div>*@
    <div class="grid-container">

        <h1>Utställningar</h1>
        @for (int i = 0; i < 4; i++)
        {
            <div class="grid-art">
                <img src="@Model.IncomingCollections[i].Artworks.FirstOrDefault().Hyperlink">
                <a class="to-exhibition" href="/Exhibitions/@Model.IncomingCollections[i].Id">
                    <div class="info-box">
                        <h3 class="title">@Model.IncomingCollections[i].Name</h3>
                        <p class="info-txt">@Model.IncomingCollections[i].Description </p>
                    </div>
                </a>
            </div>
        }
    </div>
</main>
