
@section Scripts {

    <script type="text/javascript" src="~/js/swipe.js"></script>
    <script src="~/js/gallery.js"></script>
}

@model DSU21_2.ViewModels.ExhibitionsViewModel


<main id="main-wrapper" style="background-image: url('../assets/images/brownWall.png'); background-size:cover;">
    <div class="gallery-wrapper">
        <!-- Swiper.js -->
        <div class="swiper-container gallerylist">
            <div class="exhibition-about">
                <h1>Namn: @Model.Artist.Name</h1>
                <p>Info om utst채llning: @Model.Exhibitions.Description</p>
            </div>

            <div class="go-home">
                <a href="/Home" class="to-home"><img class="img-gohome" src="/assets/images/logoutmini.png" /></a>
            </div>

            <div class="swiper-wrapper">
                @{
                    int artCount = Model.Exhibitions.Artworks.Count / 3;
                    for (int i = 0; i < artCount; i++)
                    {
                        <div class="swiper-slide swiper-gallery">
                            <div class="gallery">
                                @for (int j = i * 3; j < (i * 3) + 3; j++)
                                {
                                    <div class="picture-text">
                                        <img src="@Model.Exhibitions.Artworks[j].Hyperlink" alt="">
                                        <p>@Model.Exhibitions.Artworks[j].Name</p>
                                        <button class="button-overlay">Mer info</button>
                                        <div id="overlay">
                                            <span><i class="far fa-window-close" onmouseover="this.className = 'fas fa-window-close'" onmouseout="this.className ='far fa-window-close'"></i></span>
                                            <img src="@Model.Exhibitions.Artworks[j].Hyperlink" alt="">
                                            <div class="object-info">
                                                <h1>@Model.Exhibitions.Artworks[j].Name</h1>
                                                <p>@Model.Artist.Name</p>
                                                <p>@Model.Exhibitions.Artworks[j].Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Exhibitions.Artworks.Count % 3 != 0)
                    {
                        <div class="swiper-slide">
                            <div class="gallery">
                                @for (int i = artCount * 3; i < Model.Exhibitions.Artworks.Count; i++)
                                {
                                    <div class="picture-text">
                                        <img src="@Model.Exhibitions.Artworks[i].Hyperlink" alt="">
                                        <p>@Model.Exhibitions.Artworks[i].Name</p>
                                        <button class="button-overlay">Mer info</button>
                                        <div id="overlay">
                                            <span><i class="far fa-window-close" onmouseover="this.className = 'fas fa-window-close'" onmouseout="this.className ='far fa-window-close'"></i></span>
                                            <img src="@Model.Exhibitions.Artworks[i].Hyperlink" alt="">
                                            <div class="object-info">
                                                <h1>@Model.Exhibitions.Artworks[i].Name</h1>
                                                <p>@Model.Artist.Name</p>
                                                <p>@Model.Exhibitions.Artworks[i].Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <aside class="share-aside" onclick="copyUrl()">
                <i class="fas fa-share"></i>
                <p>Dela</p>
            </aside>
            <!--  pagination -->
            <div class="swiper-pagination swiper-pagination-black">

            </div>
            <!--  navigation buttons -->
            <div class="swiper-button-prev swiper-button-white swiper-nav-gallery-prev"></div>
            <div class="swiper-button-next swiper-button-white swiper-nav-gallery-next"></div>
        </div>
    </div>
</main>

<!-- Rumlista -->
<div class="swiper-container roomlist">
    <div class="swiper-wrapper">


        <!-- Slides (kallas fr책n model i c#) -->
        @{
            @for (var i = 0; i < Model.ExhibitionsForRooms.Count; i++)
            {
                var room = Model.ExhibitionsForRooms[i];

        <div class="swiper-slide">
            @if (room.Artworks[0].Hyperlink != "N/A")
            {
                <img class="room-img" src="@room.Artworks[0].Hyperlink">
            }
            else
            {
                <img class="room-noimg" src="/assets/images/noImage.png">
            }
            <span class="room-span">@room.Name</span>
            <a href="/exhibitions/@room.Id" class="exhibition-link">G책 till utst채llningen</a>
        </div>
            }
        }
    </div>

    <!--  navigation buttons -->
    <div class="swiper-button-prev swiper-button-white swiper-nav-room-prev"></div>
    <div class="swiper-button-next swiper-button-white swiper-nav-room-next"></div>
</div>
