@section Scripts {

    <script type="text/javascript" src="~/js/swipe.js"></script>
    <script src="~/js/gallery.js"></script>

}

@model DSU21_2.ViewModels.ExhibitionsViewModel
<a-scene fog="color:  #fffafa;  far:  850;  near:  0;  density:  0" class="fullscreen" inspector="" keyboard-shortcuts="" screenshot="" vr-mode-ui="" device-orientation-permission-ui="">
    <a-assets>
        @{
            for (int i = 0; i < Model.Exhibitions.Artworks.Count; i++)
            {
                string imageId = $"image{i}";
                <img id="@imageId" crossorigin="anonymous" src="@Model.Exhibitions.Artworks[i].Hyperlink">
            }
        }

        <img id="tile" crossorigin="anonymous" src="/assets/mock_images/tile.jpg">
        <img id="tile2" crossorigin="anonymous" src="/assets/mock_images/hardwood2_bump.jpg">

    </a-assets>

    @{
        double entityPosition = -2.538;
        for (int i = 0; i < Model.Exhibitions.Artworks.Count; i++)
        {
            string imageId = $"#image{i}";


            <a-entity position="@entityPosition 0.000 -7.594">
                <a-image src="@imageId" position="4.965 3.12722 -2.81674" geometry="height: 2; width: 1.5" material="" scale="2 2 1"></a-image>
                <a-text value="@Model.Exhibitions.Artworks[i].Name" text="color: #000000; align: center" position="4.95272 5.38382 -2.83279"></a-text>
                <a-text text="value: @Model.Exhibitions.Artworks[i].Description; color: #000000; wrapCount: 30" position="-1.75097 3.307 -2.85597"></a-text>
            </a-entity>

            entityPosition += 9.915;

        }

    }
    <a-image src="#tile2" rotation="90 0 0" scale="400 200 50" position="" material="repeat: 20 20" geometry="" visible=""></a-image>
    <a-sky fog="color:  #ffffff;  far:  35;  near:  0;  density:  0" src="#tile" material="" geometry=""></a-sky>

    <div class="a-loader-title" style="display: none;"></div>
</a-scene>
